/*@font-face {
    font-family: 'Baskerville SemiBold';
    src: url('fonts/Baskerville SemiBold.eot');
    src: url('fonts/Baskerville SemiBold.woff') format('woff'),
    url('fonts/Baskerville SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}*/


@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');


body { font-family: 'PT Serif', serif; }
ul { list-style : none; margin : 0; padding : 0; }
a, a:focus, a:hover { text-decoration : none; }
.blue { color : #50a5d1; }
[class*="fa-"] { font-family : 'FontAwesome'; }
a.btn, .wpcf7-form-control.wpcf7-submit, a.slider-btn { display : inline-block; width : auto; margin : 60px auto 0 auto;  background-color: #ffb18b; font-size : 14px; text-transform : uppercase; color : #fff; text-align : center; padding : 21px 32px; line-height : 1.4; font-weight : 700; letter-spacing : 2px; }
.page-front-page section { position : relative; text-align : center; padding : 106px 0 106px 0; }
.page-front-page section .bg-box { background-size : cover; }

.round-link-box { position : absolute; left : 50%; transform : translateX(-50%); border-radius : 50%;
    background-color : #fff; }
.round-link-box .round-link { display : block; position : absolute; width : 8px; height : 8px; left : 50%; transform : translateX(-50%); }
.round-link-box .round-link:before { font-family : FontAwesome; content : '\f107'; position : absolute; left : 50%; top : -7px; transform : translateX(-50%); }

.full-width { width: calc(100vw - 8px); position: relative; margin-left: -50vw; left: 50%; }


.site-content { width : 1820px; }
.nav { position : relative; }
.top-menu-box { display : block; height : 4em; background-color : #f3f1ec; font-family : 'PT Serif, arial'; }
.top-menu { display : flex; height : 100%; justify-content : center; align-items : center; padding : 0; margin : 0; }
.top-menu > li { position : relative; }
.top-menu > li:after { content : ''; position : absolute; right : 0; top : 50%; transform : translate(-50%, -50%); height : 1em; width : 1px; background-color : #808369; }
.top-menu > li a { padding : 0 28px; font-size : 14px; font-weight : 700; text-transform : uppercase; line-height : 1; color : #808369; }
.top-menu > li:first-child { position : relative; width : 42px; height : 24px; }
.top-menu > li:first-child a { position: absolute; padding: 0; left: 0; width : 20px; height: 20px; opacity: 0; display: inline-block; }
.top-menu > li:first-child:before { font-family : FontAwesome; content : '\f015'; }
.top-menu > li:last-child { border : none; }
.top-menu .sub-menu { position : absolute; width : 300px; top : 500px; visibility : hidden; opacity : 0; transition : top 1s; }
.top-menu > li:hover .sub-menu { top : 50px; visibility : visible; opacity : 1; }
.menu-button { position: absolute; width: 45px; height: 30px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg);
               transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out;
               transition: .5s ease-in-out; cursor: pointer; top: 50%; right: 30px; transform: translateY(-50%); cursor: pointer; z-index: 7; display: none; }
.menu-button span { display: block; position: absolute; height: 9px; width: 100%; background: #000; border-radius: 6px; opacity: 1; left: 0; -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.menu-button span:nth-child(1) { top: 0px; }
.menu-button span:nth-child(2) { top: 15px; }
.menu-button span:nth-child(3) { top: 30px; }

.menu-button.active span:nth-child(1) { top: 18px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg);
                                        transform: rotate(135deg); }
.menu-button.active span:nth-child(2) { opacity: 0; left: -60px; }
.menu-button.active span:nth-child(3) { top: 18px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg);
                                        -o-transform: rotate(-135deg); transform: rotate(-135deg); }

.top-info-box { position : relative; font-family : 'PT Serif, arial'; height : 150px; background-color : #fff; color : #808369; font-weight : 700; text-transform : uppercase; font-size : 14px; }
.top-info-box .info-block { display : flex; align-items : center; flex-wrap : wrap; }
.top-info-box .info-block > div { width : 100%; }
.info-block.top-contacts { flex : 0 0 200px; text-align : right; }
.info-block.logo-box { position : static; flex : 0 0 calc(100% - 370px); text-align : center; }
.info-block.wc-box { flex : 0 0 170px; text-align : right; padding-right : 30px; }
.top-info-box a { color : #808369; }
.top-info-box .info-block > .top-logo-box { position : absolute; top : 50px; left : 50%; transform : translateX(-50%); width : 273px; background-image: url(../img/logo-dark.jpg); background-size : 100% 81px; background-position : 0 bottom; background-repeat : no-repeat; }
.top-info-box .info-block > .top-logo-box:after { position : absolute; }
.top-logo-box .title { font-family: 'Yellowtail'; font-size : 22px; font-weight: 700; text-decoration : none; color : #434343; }
.top-logo-box .sub-title { font-size: 12px; }
.top-logo-decor { position : absolute; bottom : 0; width : 100%; height : 81px; z-index : -1; background-image : url(../img/logo-dark.jpg); }
.top-phone:before { margin-right : 7px; }
.wc.info-line > a:before { margin-right : 7px; }

.slider-box { position : relative; overflow : hidden; font-family : 'PT Serif, arial'; }
.slider-box:before { position : absolute; width : 250px; height : 250px; content : ''; top : -205px; left : 50%; transform : translateX(-50%); background-color : #fff; z-index : 5; border-radius : 50%; }
.slider-box .round-link-box { position : absolute; width : 180px; height : 180px;bottom : -145px; left : 50%; transform : translateX(-50%); background-color : #fff; z-index : 5; border-radius : 50%; }
.slider-box .round-link-box .round-link { top : 27px; }
.slider-title { position : relative; /*font-family : 'PT Serif, arial';*/ font-size : 45px; line-height : 1.875em; font-weight : 700; padding : 44px 0; max-width : 770px; text-transform : uppercase; }
.slider-title:before, .slider-title:after { content : ''; position : absolute; left : 50%; transform : translateX(-50%); width : 110px; height : 1px; background-color : #fff; }
.slider-title:before { top : 0; }
.slider-title:after { bottom : 0; }
//a.slider-btn { display : block; font-size : 16px; font-weight : 700; padding : 45px 65px; background-color : #ffb18b; margin : 0 auto; color : #fff; text-transform : uppercase; }

.slider-box .slides { }
.slider-box .slides li:before { display : block !important; content : ''; position : absolute; width : 100%; height : 100%; left : 0; top : 0; /*background : rgba( 0, 0, 0, 0.3 );*/ }


.h-box { position : relative; max-width : 370px; text-align : center; margin : 0 auto 0 auto; z-index : 1; }
.h-box:after { content : ''; position : absolute; width : 110px; height : 1px; background-color : #000; left : 50%; bottom : 0; transform : translateX(-50%); }
.h-background { position : absolute; top : 0; left : 0; right : 0; bottom : 0;  background-image: url(../img/logo-dark.jpg); background-size : 248px 81px; background-position : 50% 0; background-repeat : no-repeat; z-index : -1; opacity : 0.2; }
.h-description { font-size : 14px; color : #fff; font-weight : 700; text-transform : uppercase; color : #808369; letter-spacing : 2px; }
.h-title { font-size : 35px; color : #000; padding : 20px 0 40px 0; margin-bottom : 60px; padding-top : 0; margin-top : 0px; }
.h-box.white { }
.h-box.white .h-description, .h-box.white .h-title { color : #fff; }


.columns-box { }
.columns-row { display : flex; flex-wrap : wrap; }
.columns-row.gap-30 { margin : 0 -15px; }
.columns-row.gap-30 [class*="column"] { padding-right : 15px; padding-left : 15px; overflow : hidden; }
.columns-row .column-3 { flex : 0 0 33.3333%; }
.columns-row .column-4 { flex : 0 0 25%; }


.story-section { overflow : visible; background-color: #f3f1ec; }
.story-section .container { position : relative; }
.story-section .bg-box { position : absolute; top : 0; width : 100%; height : 695px; background-image : url(../img/canapes.jpg); }
.shifted-box { }
.shifted-box .sb-content-box {  }
.shifted-box .sb-col { flex : 0 0 50%; }
.shifted-box .sb-col.pic { background-image : url(../img/bg1.jpg); background-size: 150% 150%; background-repeat: no-repeat; background-position: 60% 30%; }
.shifted-box .sb-content { padding : 74px 88px; background-color : #fff; min-height : 540px; text-align : center; }
.shifted-box .sb-title { line-height : 38px; font-size : 22px; font-weight : 700; color : #808369; text-align : left; }
.shifted-box .sb-text { margin-top : 34px; line-height: 26px; font-size : 14px; color : #929292; text-align : left; }
.shifted-box .sb-text .capitalized { line-height : 1.2; font-size : 28px; font-weight : 700; color : #434343; }
.shifted-box .team-member { position : relative; margin-top : 80px; }
.shifted-box .team-member:before { content : ''; position : absolute; top : -40px; left : 0; width : 110px; height : 1px; background-color : #000; }
.shifted-box .name { font-size : 20px; line-height : 37px; font-weight:  700; color : #808369; }
.shifted-box .job { }


.chef-section { background-color : #f3f1ec; }
.chef-section .bg-box { position : absolute; top : 0; width : 100%; height : 695px; background-image : url(../img/bg2.jpg);  }
.chef-section .sb-text { position : relative; margin : 0; line-height : 23px; }
.chef-section .sb-text:before { content : '\f10e'; font-family : FontAwesome; font-size : 60px; position : absolute; top : 0; left : 0; opacity : 0.2; }
.chef-section .shifted-box .sb-col.pic { background-image: url(../img/service.jpg); background-position : 40% 0; background-size : cover; }
.chef-section .sb-content { text-align : left; }


.archives-link { position : relative; }
.archives-link .bg-block { position : absolute; top : 0; bottom : 0; left : 0; right : 0; background-color : rgba( 0, 0, 0, 0.2 ); margin : 0 15px; transition : all 0.5s; }
.archives-link:hover .bg-block { background-color : rgba( 0, 0, 0, 0 ); }
.pt-archive-img { width : 100%; height : auto; max-height : 475px; min-height : 100%;  }
.pt-archive-title { position : absolute; top : 50%; left : 50%; transform : translate(-50%, -50%); font-family: 'Yellowtail'; max-width : 170px; color : #fff; font-size : 45px; text-align : center; line-height : 0.9; }
.archives-link .round-link-box {  width : 100px; height : 100px; bottom : -70px; }
.archives-link .round-link-box .round-link { top : 20px; }
.archives-link .round-link-box .round-link:before { }


.page-front-page .book-section { padding : 194px 0 180px; 0; text-align : center; background-image : url(../img/story.jpg); background-size : 100%; }
.book-section .bg-box { position : absolute; left : 0; right : 0; top : 0; bottom : 0; background-color : rgba( 0, 0, 0, 0.3 ); }
.book-section .h-box { max-width : 630px; }
.book-section .h-box:after { height : 2px; background-color : #fff; }
.book-section .h-description { font-size : 14px; color : #fff; font-weight : 700; text-transform : uppercase; }
.book-section .h-title { font-size : 50px; line-height : 1.2; font-weight : 700; color : #fff; }
.book-section a.btn { margin-top : 0; font-size : 16px; line-height : 1.2; letter spacing : 2px; }


.menu-section { background-color : #f3f1ec; }
.product-cats-box {}
.product-cats-row {}
.product-cat-link {  }
.pct-content { position : relative; padding : 15px; color : #808369; background-color : #fff; }
.pct-content img { width : 100%; max-height : 150px; }
.pct-content .pct-title { padding : 26px 0; text-align : center; font-size : 16px; text-transform : uppercase; font-weight : 700; }
.pct-content .round-link-box { width : 40px; height : 40px; background-color: #f3f1ec; }
.pct-content .round-link { }
.pct-content .round-link-box .round-link:before { top : 0px;}
.menu-section .subtitle { margin-top : 56px; font-size : 20px; line-height : 37px; font-weight : 700; color : #808369; }


.services-box { display : flex; flex-wrap : wrap; }
.sv-pic { flex : 0 0 430px; border-radius : 50%; min-height : 430px; background-image : url(../img/canapes.jpg); background-size : cover; background-repeat : no-repeat; }
.sv-list { display : flex; flex : 0 0 calc((100% - 430px)/2); }
.sv-list .sv-content { display : flex; }
.sv-list.left .sv-content { flex-direction : row; text-align : right; }
.sv-list.left .sv-number-box { text-align : left; padding-left : 20px; }
.sv-list.right .sv-number-box { text-align : right; padding-right : 20px; }
.sv-list.right .sv-content { flex-direction : row-reverse; text-align : left; }
.sv-box { display : flex; flex-wrap : wrap; flex-direction: column; justify-content: space-between; }
.sv-content-box { flex : 0 0 calc(100% - 100px); }
.sv-content-box .sv-title { text-transform : uppercase; margin-bottom : 33px; padding-bottom : 18px; border-bottom : 1px solid #808369; font-size : 18px; line-height : 1.2; font-weight : 700; letter-spacing : 3px; color : #808369; }
.sv-content-box .sv-title a { color : #808369; }
.sv-content-box .sv-excerpt { font-size : 14px; line-height : 26px; color : #929292; letter-spacing: 0 }
.sv-number-box { flex : 0 0 100px; }
.sv-number-box .sv-number { display: inline; line-height: 0.8; font-size : 40px; font-weight : 700; opacity : 0.2; }


.projects-section { overflow : hidden; }
.project-box { margin : 0 -15px; }
.project-col { /*padding : 0 15px;*/ }
.project-col.lefted { flex : 0 0 66.6667%; }
.project-col.lefted img { max-height : 360px; }
.project-col.righted { flex : 0 0 33.33%; }
.project-col.righted img { max-height : 750px; }
.inner-project-box { }
.inner-project-col { flex : 0 0 50%; margin : 15px 0; padding : 0 15px; }
.project-content { }


.team-section { background-color : #f3f1ec; padding : 0 0 110px 0 !important; }
.team-section .h-box { margin-top : 0; }
.reviews-box { }
.reviews-box > h3 { text-transform : uppercase; }
.rss-box { }
.rs-box{ position : relative; margin : 0 15px; }
.rs-inner-box { position : relative; }
.rs-img-box { position : relative; width : 250px; height : 250px; border-radius : 50%; margin : 0 auto 20px auto; overflow : hidden; background-position: 50% 20%; background-size: 450px 450px; }
.rs-img-box:before { }
.rs-img-box img { }
.rs-name { text-align : center; font-size : 22px; font-weight : 700; margin : 0 0 10px 0; color : #808369; }
.rs-content { text-align : center; color: #929292; }



.testimonials-section { background-color : #f3f1ec; }
.tss-box { overflow : hidden; }
.ts-box { position : relative; text-align : center; margin-top : 50px; color : #808369; background-color : #fff; }
.ts-inner-box { position : relative; padding : 50px 0; }
.ts-inner-box:before { content : ''; position : absolute; left : 50%; top : -53px; transform : translateX( -50% ); width : 112px; height : 114px; border-radius : 50%; background-color : #f3f1ec;}
.ts-img-box { position : absolute; left : 50%; top : -43px; transform : translateX( -50% ); width : 95px; height : 95px; border-radius : 50%; }
.ts-carousel-img { width : 100%; height : 95px; border-radius : 50%; }
.ts-name { max-width : 430px; margin : 0 auto; opacity : 0.8; font-size : 15px; }
.ts-content { margin : 0 100px; font-size : 20px;  font-weight : 700; padding: 37px 0 49px 0; }
.tss-box .slick-arrow { top : calc(50% + 50px); width : 60px; height : 60px; background-color : #f3f1ec !important; border-radius : 50%; z-index : 1; }
.tss-box .slick-arrow.slick-prev { left : -32px;  }
.tss-box .slick-arrow.slick-prev:before { position: absolute; left: 55%; top: 50%; transform: translateY(-50%); font-family : FontAwesome; content : '\f104'; color : #000; opacity : 0.5; font-size : 16px; }
.tss-box .slick-arrow.slick-prev:hover { background-color : #f3f1ec; }
.tss-box .slick-arrow.slick-next { right : -32px; }
.tss-box .slick-arrow.slick-next:before { position : absolute; right: 55%; top: 50%; transform: translateY(-50%); font-family : FontAwesome; content : '\f105'; color : #000; opacity : 0.5; font-size : 16px; }
.tss-box .slick-arrow.slick-next:hover { background-color : #f3f1ec; }



.posts-box { justify-content: flex-start; margin-left : -15px; margin-right : -15px; }
.post-archive-box { flex : 0 0 calc(33.3333% - 15px); padding : 0 15px; text-align : center; margin-bottom : 15px; }
.post-archive-box span.date { display : inline-block; padding : 34px 0 16px 0; font-size : 14px; text-transform : uppercase; font-weight : 700; color : #808369; }
.post-archive-box > h2.pa-title { position : relative; display : block; margin : 0; padding : 0 0 26px 0; }
.post-archive-box > h2.pa-title:after { content : ''; position : absolute; left : 50%; bottom : 0; transform : translateX( -50% ); width : 110px; height : 1px; background-color : #000; }
.post-archive-box .post-archive-thumb { display : block; height : 196px; background-size : 700px 450px; background-position : 50% 50%; background-repeat : no-repeat; }
.post-archive-box .post-archive-thumb img { width : 100%; }


.contact-form-section { position : relative; background-color : #f3f1ec; }
.cf7-form-content { max-width : 770px; margin : 0 auto; }
.cf7-form-content .form-inputs { justify-content : space-between; }
.cf7-form-content .input-box { font-size : 14px; }
.cf7-form-content .input-box.half { flex : 0 0 328px; max-width : 328px; }
.cf7-form-content input { padding : 0 0 0 42px; line-height : 66px; border : none; background-color : #fff; width : 100%; max-width : 100%; font-weight : 700; text-transform : uppercase; color : #808369; }
.cf7-form-content input::placeholder { text-transform : uppercase; color : #808369; opacity : 1; }
.cf7-form-content textarea { padding : 0 0 0 42px; line-height : 3em; width : 100%; max-height : 210px; background-color : #fff; border : none; margin-top : 28px; font-weight : 700; text-transform : uppercase; color : #808369; }
.cf7-form-content textarea::placeholder { text-transform : uppercase; color : #808369; opacity : 1; }
.wpcf7-form .submit-block { text-align : center; }
.contact-form-section .round-link-box { width : 130px; height : 130px; bottom : -85px; }
.contact-form-section .round-link-box .round-link { top : 30px; height : 20px; }
.contact-form-section .round-link-box .round-link:before { content : '\f106'; top : 0; }
.contact-form-section .round-link-box .to-top-link-box { position : absolute; left : 50%; top : 50%; transform : translate( -50%, -50% ); font-size : 12px; line-height : 22px; color : #808369; font-weight : 700; text-transform : uppercase; letter-spacing : 2px; }


.footer { padding : 70px 0 40px 0; }
.footer .info-block.top-contacts { flex : 0 0 33.33%; }
.footer .info-block.logo-box { flex : 0 0 33.33%; }
.footer .info-block.wc-box { flex : 0 0 33.33%; padding : 0; }
.footer .top-info-box a { /*display : block;*/ }
.footer .top-info-box .info-block .info-line { padding-top : 20px; }
.footer .top-info-box .wc-info.info-line { text-align : left; padding : 0; }
.footer .social-box { display : flex; justify-content : center; padding : 50px 0; }
.footer .social-box a { position : relative; display : inline-block; margin-right : 10px; width : 42px; height : 42px; border-radius : 50%; background-color : #a7a99a; color : #fff; }
.footer .social-box a:before { position : absolute; top : 50%; left : 50%; transform : translate( -50%, -50% ); font-size : 15px; }
.footer .copyrights { display : flex; justify-content : center; color: #929292; font-size : 14px; }
.footer .copyrights a { position : relative; display : inline-block; color: #929292; margin : 0 5px; text-decoration : underline;}


@media screen and ( max-width : 1187px ) {

    .site-content { width : 100%; }

    .services-box { display : block; }
    .sv-list .sv-content { margin-top : 10px; }
    .sv-list.right .sv-content { flex-direction : row; text-align : right; }
    .sv-list { display : block; max-width : 360px; margin : 0 auto; }
    .sv-pic { width : 360px; height : 360px; margin : 20px auto; min-height : auto; }

    .project-box { display : block; }

}


@media screen and ( max-width : 992px ) {

    .menu-button { display : block; top : 20px; }
    .top-menu-box { height : auto; }
    .top-menu { display : block;  position: absolute; left: -2780px; top: 0px; width: 50%; height : auto; min-width : 320px; z-index: 11; transition: left 0.5s; background-color: #fff; }
    .top-menu.active { left : 0; }
    .top-menu > li:first-child { width : auto; height : auto; }
    .top-menu > li:first-child a { position : relative; padding : 0 20px; }
    .top-menu > li:first-child:before { position : absolute; left : 25px; }
    .top-menu > li::after { content : none; }

    .shifted-box .sb-content-box { display : block; }
    .shifted-box .sb-col.pic { display : block; max-width : 480px; margin : 0 auto; }
    .shifted-box .sb-col.text { display : block; max-width : 480px; margin : 0 auto; }

    .product-cats-row.columns-row .column-4 { flex : 0 0 50%; max-width : 360px; margin : 0 auto 20px auto; }

    .page-front-page .book-section { background-size : cover; }

}


@media screen and ( max-width : 768px ) {

    .top-info-box { display : block; height : auto; }
    .info-block, .info-block.top-contacts, .info-block.wc-box { width : 100%; text-align : center; }
    .top-info-box .info-block > .top-logo-box { position : static; margin : 10px auto; transform : none; }

    .posts-box { display : block; }
    .post-archive-box { max-width : 360px; margin : 20px auto 0 auto; }

    .project-box .inner-project-box{ display : block; max-width : 360px; margin : 0 auto; }
    .project-box .project-col.righted {  display : block; max-width : 360px; margin : 0 auto; max-height : 360px; overflow : hidden; }

    .cf7-form-content .input-box.half { flex : 0 0 calc(50% - 42px); }

    .footer .top-info-box .wc-info.info-line { text-align : center; }

}


@media screen and ( max-width : 640px ) {

    .shifted-box .sb-content { padding : 74px 20px; }

    .columns-row.columns-row { display : block; }
    .columns-row .archives-link.column-3 { display : block; max-width : 360px; margin : 0 auto; min-height : auto; max-height : 220px; margin-bottom : 20px; }

    .cf7-form-content .form-inputs { display : block; }
    .cf7-form-content .input-box.half { flex : 0 0 calc(50% - 42px); max-width : 100%; }
    .cf7-form-content .input-box.half:nth-child(2) { margin-top : 28px; }

}


@media screen and ( max-width : 480px ) {

    .footer .copyrights { display : block; text-align : center; }

}

@media screen and ( max-width : 360px ) {
    .page-thank-you .header-text-box a.mhf { font-size : 18px; }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}



